@import "tailwindcss";

/* CUSTOME STYLES */
:root {
  --primary: 222 47% 11%;
  --primary-foreground: 0 0% 100%;
  --secondary: 210 40% 96%;
  --secondary-foreground: 222 47% 11%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 100%;
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 215 20.2% 65.1%;
  --radius: 0.5rem;

  /* custom colors */
  --green-100: #64c882;
  --green-200: #5eaa74;

  --gray-100: #aaaaaa;
  --gray-200: #12121299;
  --gray-300: #cccccc;
  --gray-400: #666666;
  --gray-500: #f5f6fa;
  --gray-600: #f7f9fd;

  --red-100: #d23d3d;
  --red-200: #b73737;
}

/* CUSTOME THEME STYLES */
@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  --color-green-100: var(--green-100);
  --color-green-200: var(--green-200);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-500);

  --color-red-100: var(--red-100);
  --color-red-200: var(--red-200);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
